.opacity-0 {
	opacity: 0;
}

.opacity-100 {
	opacity: 1;
}

.translate-y-10 {
	transform: translateY(40px);
}

.translate-y-0 {
	transform: translateY(0);
}

.transition-all {
	transition-property: all;
}

.duration-1000 {
	transition-duration: 1000ms;
}

.ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.delay-300 {
	transition-delay: 300ms;
}

.delay-600 {
	transition-delay: 600ms;
}

.delay-900 {
	transition-delay: 900ms;
}

.delay-1200 {
	transition-delay: 1200ms;
}
